<!-- Header -->
<header class="header header-inverse bg-fixed" style=" max-height:400px; background-image: url({{site.baseurl}}/assets/img/posts_images/writting_images/lazypatriot-header.jpg)" data-overlay="8">
    <div class="container text-center">

      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">

          <h1>{{page.title}}</h1>
          <p class="fs-18 opacity-70">{{page.pageSubHeader}}</p>
        </div>
      </div style="font-size:300%">{{page.headerSnippet}}

    </div>
</header>
    <!-- END Header -->