<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{{layout.title}}</title>

    <!-- Styles -->
    <link href="{{site.baseurl}}/assets/css/core.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/thesaas.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/img/apple-touch-icon.png">
    <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.png">
  </head>
  <body class="thesaas-sections-split">
    


    <!-------- content start -------->

      {{content}}

    <!-------- content End -------->

    <!-- Scripts -->
      <script src="{{site.baseurl}}/assets/js/core.min.js"></script>
      <script src="{{site.baseurl}}/assets/js/thesaas.min.js"></script>
      <script src="{{site.baseurl}}/assets/js/script.js"></script>

  </body>



</html>